<div class="container-fluid" id="dict_container">
  <h1>
    <span class="badge badge-primary"></span>
  </h1>
  <div class="container-fluid">
    <pre id="word_content" style="white-space: pre-wrap;"></pre>
  </div>
  <div class="btn-group-vertical text-left">
    <button class="btn btn-light" type="button">
      <b>Superconcept: </b>
    </button>
    <button class="btn btn-light" type="button">
      <b>Supercategory: </b>
    </button>
    <button class="btn btn-light" type="button">
      <b>Subconcept: </b>
    </button>
    <button class="btn btn-light" type="button">
      <b>Subcategory: </b>
    </button>
  </div>
  <div class="container-fluid"> 
    <a class="btn btn-primary" href="/" role="button">Home</a>
  </div>
</div>
